<footer class="container text-center">
    <br />
    <br />
    <hr />
    <p>&copy; @DateTime.Now.ToLongDateString() | FREE-IS4 on .NET 6</p>
    <h3>
        Developed by
        <a id="bg" href="http://baiganio.github.io./bg-team" target="_blank">(BG )Team</a>
    </h3>
    <p><label>Assembly @ViewBag.Version</label></p>
    <hr />
</footer>
